In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.2.0-cp312-cp312-win_amd64.whl.metadata (6.2 kB)
Downloading mysql_connector_python-9.2.0-cp312-cp312-win_amd64.whl (16.1 MB)
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
    --------------------------------------- 0.3/16.1 MB ? eta -:--:--
   -- ------------------------------------- 1.0/16.1 MB 3.0 MB/s eta 0:00:06
   ---- ----------------------------------- 1.8/16.1 MB 3.2 MB/s eta 0:00:05
   ----- ---------------------------------- 2.4/16.1 MB 3.3 MB/s eta 0:00:05
   -------- ------------------------------- 3.4/16.1 MB 3.5 MB/s eta 0:00:04
   ---------- ----------------------------- 4.2/16.1 MB 3.7 MB/s eta 0:00:04
   ------------- -------------------------- 5.2/16.1 MB 3.9 MB/s eta 0:00:03
   ---------------- ----------------------- 6.6/16.1 MB 4.2 MB/s eta 0:00:03
   -------------------- ------------------- 8.1/16.1 MB 4.6 MB/s eta 0:00:02
   ----------------------- ---------------- 9.4/16.1 MB 4.9 MB/s eta 0:00:02
   -------------------------- ------------- 10.5/16.1 MB 4.9 MB/s eta 0:00:02
   ----------------------------- ---------- 12.1/16.1 MB 5.2 MB/s eta 0:00:01
   ----------------------------------- ---- 14.2/16.1 MB 5.5 MB/s eta 0:00:01
   ---------------------------------------  16.0/16.1 MB 5.8 MB/s eta 0:00:01
   ---------------------------------------  16.0/16.1 MB 5.8 MB/s eta 0:00:01
   ---------------------------------------- 16.1/16.1 MB 5.3 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0

In [9]:
!pip install tabulate

Requirement already satisfied: tabulate in c:\users\sh.gaybullayev\anaconda\anaconda3\lib\site-packages (0.9.0)

<h1>Connecting to LittleLemonDB with Python/MySQL database client</h1>

In [13]:
import mysql.connector as connector
from tabulate import tabulate

<h2>Task 1</h2>
<h3>Connect to database and create cursor</h3>

In [18]:
connection = connector.connect(
    host = "localhost",
    user = "root",
    password = "QQ123456",
    database = "LittleLemonDB"
)

In [19]:
cursor = connection.cursor()

<h2>Task 2</h2>
<h3>Query the database and list tables</h3>

In [20]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)
results = cursor.fetchall()

# Printing tables in database
for row in results:
    print(row)

('bookings',)
('customers',)
('deliverystatus',)
('menuitems',)
('menus',)
('orders',)
('ordersview',)
('staff',)

<h2>Task 3</h2>
<h3>Query with table JOIN</h3>
<p>They require the full name and contact details for every customer that has placed an order greater than $60 for a promotional campaign.</p>

In [21]:
sql_query = """
SELECT Customers.FullName, Customers.ContactNumber, Orders.TotalCost AS `BillAmount`
FROM Customers
JOIN Orders
ON Customers.CustomerID = Orders.CustomerID
WHERE Orders.TotalCost > 60;
"""

cursor.execute(sql_query)
results = cursor.fetchall()

columns = [desc[0] for desc in cursor.description]

print(tabulate(results, headers=columns, tablefmt="grid"))

+----------------+-----------------+--------------+
| FullName       |   ContactNumber |   BillAmount |
+================+=================+==============+
| Charlie Davis  |         7654321 |           80 |
+----------------+-----------------+--------------+
| Frank Harris   |         4321098 |          120 |
+----------------+-----------------+--------------+
| Charlie Davis  |         7654321 |          175 |
+----------------+-----------------+--------------+
| Grace Martinez |         3210987 |          220 |
+----------------+-----------------+--------------+
| Isaac White    |         1098765 |          190 |
+----------------+-----------------+--------------+

<h3>Close connection!</h3>

In [22]:
cursor.close()
connection.close()